
body {
    background-color: beige;
}

.json-editor-index {
    width: 500px;
    height: 500px;
    background-color: aqua;
    /*border: 2px solid red;*/
    position: absolute;
    left: 35%;
    right: 35%;
    top: 30%;
    bottom: 35%;
}

.json-editor-index textarea {
    width: inherit;
    height: inherit;
    border: inherit;
    font-size: 18px;
}

button {
    width: 500px;
    height: 100px;
    background-color: black;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 85%;
    left: 35%;
    right: 35%;

}

.nick {
    position: absolute;
    top: 20%;
    left: 35%;
    right: 35%;
    width: 500px;
    height: 80px;
    border: 2px solid red;
    text-align: center;
}

.image {
    position: absolute;
    top: 1%;
    left: 43%;
    right: 43%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aqua;
}

.menu {
    position: absolute;
    top: 1%;
    left: 80%;
    width: 300px;
    height: 50px;
    background-color: brown;
}

.menu input {
    width: inherit;
    height: inherit;
}

.send-search {
    position: absolute;
    top: 1%;
    left: 102%;
    width: 50px;
    height: 50px;
    background-color: brown;
    font-size: 18px;
}


/*
    login.html file
*/

.login-div {
    position: absolute;
    width: 500px;
    height: 300px;
    left: 37%;
    right: 37%;
    top: 35%;
    /*border: solid red 1px;*/
}

#send-login {
    width: 100%;
    height: 30%;
    position: absolute;
    background-color: black;
    font-size: 18px;
    left: 0%;
    top: 70%;
}

#username {
    width: 100%;
    height: 20%;
}

#password {
    width: 100%;
    height: 20%;
}

label {
    font-size: 18px;
}

.messDFS-login {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*

    signup.html file

*/


h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.signup-div {
    width: 500px;
    height: 500px;
    /*border: solid 1px red;*/
    position: absolute;
    left: 37%;
    right: 37%;
    top: 20%;
}

.signup-div input {
    width: 100%;
    height: 10%;
}

.signup-div button {
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0%;
    top: 100%;
}

/*


    signout.html file


*/

.signout-div {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 37%;
    left: 37%;
    top: 35%;
    /*border: solid 1px red;*/
}

.signout-div input {
    width: 100%;
    height: 20%;
}

.signout-div button {
    width: 100%;
    height: 30%;
    left: 0%;
}